<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ すべての商品01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  <section
    class="items_detail01"
    id="MainProduct-{{ section.id }}"
    class="page-width section-{{ section.id }}-padding"
    data-section="{{ section.id }}">
    <div class="breadcrumbs">
      <ol
        itemscope
        itemtype="https://schema.org/BreadcrumbList"
        class="en">
        <li
          itemprop="itemListElement"
          itemscope
          itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/">
            <span itemprop="name">top</span>
          </a>
          <meta itemprop="position" content="1" />
        </li>

        <li
          itemprop="itemListElement"
          itemscope
          itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/collections/allitems">
            <span itemprop="name">all items</span>
          </a>
          <meta itemprop="position" content="2" />
        </li>

        <li
          itemprop="itemListElement"
          itemscope
          itemtype="http://schema.org/ListItem">
          <span itemprop="name">{{ product.title }}</span>
          <meta itemprop="position" content="3" />
        </li>
      </ol>
    </div>
    <div class="items_detail01_bg">
      <div class="items_detail01_inner">
        <div class="box">
          <div class="items_img">
            <div class="slider">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  {% for image in product.images %}
                    <div class="swiper-slide">
                      <img src="{{ image.src | img_url: 'master' }}" alt="">
                    </div>
                  {%- endfor -%}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
            <div class="slider_thumb">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  {% for image in product.images %}
                    <div class="swiper-slide">
                      <img src="{{ image.src | img_url: 'master' }}" alt="">
                    </div>
                  {%- endfor -%}
                </div>
              </div>
            </div>
          </div>
          <div class="txt">
            <div class="heading">
              <h1>{{ product.title }}</h1>
              <p class="item_id">Item ID : {{ product.metafields.custom.item_id }}</p>
            </div>
            <div class="price_item">
              <p class="price_txt">価格</p>
              <div class="inner">
                <p class="price en">
                  {{ product.price | money }}</p>
                <p class="tax">税込 / 配送料別途</p>
              </div>
            </div>
            <div class="stock_item">
              <p class="stock_txt">在庫</p>
              <p class="number">{{ product.selected_or_first_available_variant.inventory_quantity }}個</p>
            </div>


            {% comment %} <div class="quantity_item">
              <div class="quantity_txt">数量</div>
              <div class="inner">
                <button class="mainasu">
                  <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_mainasu.svg" alt="">
                </button>
                <input type="number" class="en">
                <button class="plus">
                  <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_plus.svg" alt="">
                </button>
              </div>
            </div> {% endcomment %}

            {%- assign product_form_id = 'product-form-' | append: section.id -%}

            {%  style  %} 
            .quantity{
              display:flex;
              height: 40px;
            }
            .quantity button{
              position: relative;
              width: 80px;
              height: 40px
            }
            .quantity button:before{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateX(-50%);
              transform: translateY(-50%);
            }
            .quantity button:first-of-type:before{
              content: "-";
            }
            .quantity button:last-of-type:before{
              content: "+";
            }
            {% endstyle %}

            <div class="quantity_item">
              <div class="quantity_txt">数量</div>
              <div class="inner">
                <quantity-input class="quantity">
                  <button
                    class="quantity__button no-js-hidden mainasu"
                    name="minus"
                    type="button">
                    {% comment %} <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_mainasu.svg" alt=""> {% endcomment %}
                  </button>
                  <input
                    class="quantity__input en"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="{{ product_form_id }}">
                  <button
                    class="quantity__button no-js-hidden plus"
                    name="plus"
                    type="button">
                    {% comment %} <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_plus.svg" alt=""> {% endcomment %}
                  </button>
                </quantity-input>
              </div>
            </div>


            {% comment %} <div class="cart_box">
            <div class="cart">
            <a href="#" class="en">
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_cart_6c4b81a9-98f5-470e-b281-6134955c1f5e.svg" alt="">
            add to cart
            </a>
            </div>
            <div class="cart ex">
            <a href="#" class="en">
            <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_cart_ex.svg" alt="">
            express check out
            </a>
            </div>
            </div> {% endcomment %}


            <div class="cart_box">
              <product-form class="product-form">
                <div
                  class="product-form__error-message-wrapper"
                  role="alert"
                  hidden>
                  <span class="product-form__error-message" style="color: red; font-size: 12px;"></span>
                </div>
                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input
                    type="hidden"
                    class="en"
                    name="id"
                    value="{{ product.selected_or_first_available_variant.id }}"
                    disabled>
                  <div class="product-form__buttons">
                    <button
                      type="submit"
                      name="add"
                      class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
                      {% if product.selected_or_first_available_variant.available == false %}
                      disabled
                      {% endif %}>
                      <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_cart_6c4b81a9-98f5-470e-b281-6134955c1f5e.svg" alt="">
                      <span>
                        {%- if product.selected_or_first_available_variant.available -%}
                          ADD TO CART
                        {%- else -%}
                          SOLD OUT
                        {%- endif -%}
                      </span>
                      <div class="loading-overlay__spinner hidden">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          role="presentation"
                          class="spinner"
                          viewBox="0 0 66 66"
                          xmlns="http://www.w3.org/2000/svg">
                          <circle
                            class="path"
                            fill="none"
                            stroke-width="6"
                            cx="33"
                            cy="33"
                            r="30"></circle>
                        </svg>
                      </div>
                    </button>
                    {{ form | payment_button }}
                  </div>
                {%- endform -%}
            </product-form>
          </div>


          <div class="about">
            <ul>
              <li><a href="/pages/contact">商品に関するお問い合わせ</a></li>
              <li><a href="/">配送料について</a></li>
              <li><a href="/">お取り置きについて</a></li>
            </ul>
          </div>
          <table>
            <tr>
              <th>サイズ</th>
              <td>{{ product.metafields.custom._size }}</td>
            </tr>
            <tr>
              <th>重さ</th>
              <td>{{ product.metafields.custom._weight }}</td>
            </tr>
            <tr>
              <th>生産国</th>
              <td>{{ product.metafields.custom._country }}</td>
            </tr>
            <tr>
              <th>材質</th>
              <td>{{ product.metafields.custom._material }}</td>
            </tr>
            <tr>
              <th>配送</th>
              <td>{{ product.metafields.custom._delivery }}</td>
            </tr>
            <tr>
              <th>メンテナンス</th>
              <td>{{ product.metafields.custom._maintenance }}</td>
            </tr>
          </table>
        </div>

        <div class="info_wrap">
          <div class="info">
            <div class="heading">
              <span class="en">detail</span>
              <h2>商品詳細</h2>
            </div>
            <h3>{{ product.metafields.custom._info_tytle }}</h3>
            <p class="detail_txt01">{{ product.metafields.custom._info_sub }}</p>
            <p class="detail_txt02">
              {{ product.content }}
            </p>
          </div>
          <div class="info pt">
            <div class="heading column">
              <span class="en">attention</span>
              <h2>ご注文前に必ずお読み下さい</h2>
            </div>
            <ul>
              <li>ヤマトホームコンビニエンスでの発送となる商品につきまして、配送のご対応ができないエリアがございます。ご注文の前にお住まいのエリアが配送可能かこちらからご確認ください。</li>
              <li>土日祝のご注文やお問い合わせに関しましては、翌営業日に対応致します。
              </li>
              <li>
                配送希望日に関しましては、一部の地域では、日にち、時間帯の指定ができない場合がございます。<br>又、集荷の関係でご希望日に沿えない場合がございます。予めご了承の上、1週間程の余裕を持ったご希望日でのご指定をお願い致します。
              </li>
              <li>店頭販売と在庫を共有しておりますので、ご注文後に在庫切れになる場合がございます。 予めご了承ください。
              </li>
              <li>写真と実物はお色味など多少異なる場合がございます。</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ すべての商品01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ すべての商品02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
{%- assign metafields-products = product.metafields.custom._related_products -%}
<section class="items_detail02 items_common">
  <div class="items_common_inner">
    <div class="section_title">
      <span class="en_h en">related item</span>
      <h2>
        <span>関連商品</span>
      </h2>
    </div>
    <div class="slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {%- for product in metafields-products.value  -%}
            <div class="swiper-slide">
              <a href="{{ product.url }}">
                <figure>
                  <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="">
                </figure>
                <div class="txt">
                  <p class="items_title">{{ product.title }}</p>
                  <span class="price en">
                    {{ product.price | money }}
                  </span>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>



{% comment %} <section class="items_detail02 items_common">
  <div class="items_common_inner">
    <div class="section_title">
      <span class="en_h en">related item</span>
      <h2>
        <span>関連商品</span>
      </h2>
    </div>
    <div class="slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {% assign names = product.title %}
            {% for collection in product.collections %}
              {% unless collection.title == 'すべての商品' %}
              {% for product in collection.products %}
                {% unless product.title == names %}
                  <div class="swiper-slide">
                    <a href="{{ product.url }}">
                      <figure>
                        <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="">
                      </figure>
                      <div class="txt">
                        <p class="items_title">{{ product.title }}</p>
                        <span class="price en">
                          {{ product.price | money }}
                        </span>
                      </div>
                    </a>
                  </div>
                {% endunless %}
              {% endfor %}
              {% endunless %}
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section> {% endcomment %}

<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ すべての商品02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ すべての商品03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="items_detail03 contact_area">
  <div class="contact_area_inner">
    <div class="section_title white horizontal">
      <span class="en">contact</span>
      <h2>コンタクト</h2>
    </div>
    <p>商品や修理、レンタルに関する<br class="is_sp">お問い合わせなど <br class="is_sp">お気軽にお問い合わせください。</p>
    <a href="/pages/contact"><img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_mail.svg" alt="">お問合せフォーム</a>
  </div>
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ すべての商品03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->


<script>
  window.addEventListener('load', function() {

    var sliderThumbnail = new Swiper('.items_detail01 .slider_thumb .swiper-container', {
      freeMode: true,
      watchSlidesVisibility: true,
      breakpoints: {
        1279: {
          slidesPerView: 7
        },
        768: {
          slidesPerView: 5
        }
      }
    });

// 商品詳細スライダー
    const swiperSlides = document.querySelectorAll(".items_detail01 .slider .swiper-slide");
    var slider = new Swiper('.items_detail01 .slider .swiper-container', {
      loop: true,
      loopedSlides: swiperSlides.length,
      speed: 700,
      allowTouchMove: false,
      slidesPerView: 1,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      },
      thumbs: {
        swiper: sliderThumbnail
      }
    });
  });
</script>

<script>
  const breakPoint = 767;
  let swiper;
  let swiperBool;

  window.addEventListener('load', () => {
    if (breakPoint < window.innerWidth) {
      swiperBool = false;
    } else {
      createSwiper();
      swiperBool = true;
    }
  }, false);

  window.addEventListener('resize', () => {
    if (breakPoint < window.innerWidth && swiperBool) {
      swiper.destroy(false, true);
      swiperBool = false;
    } else if (breakPoint >= window.innerWidth && !(swiperBool)) {
      createSwiper();
      swiperBool = true;
    }
  }, false);

  const swiperSlides = document.querySelectorAll(".items_common .swiper-slide");
  const createSwiper = () => {
    swiper = new Swiper('.items_common .swiper-container', {
      loop: true,
      loopedSlides: swiperSlides.length,
      slidesPerView: 2.2,
      spaceBetween: 21,

// autoplay: {
// delay: 4000,
// },
      speed: 1000
    });
  }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      function isIE() {
        const ua = window.navigator.userAgent;
        const msie = ua.indexOf('MSIE ');
        const trident = ua.indexOf('Trident/');

        return (msie > 0 || trident > 0);
      }

      if (!isIE()) return;
      const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
      const noScriptInputWrapper = document.createElement('div');
      const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
      noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
      variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

      document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
        hiddenInput.value = event.currentTarget.value;
      });
    });
</script>

{% schema %}
  {
    "name": "items-detail",
    "presets": [
      {
        "name": "items-detail"
      }
    ]
  }
{% endschema %}
