<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ すべての商品01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section class="items01">
  {% if cart.attributes.pagination != blank %}
    {%- assign limit = cart.attributes.pagination %}
  {% else %}
    {% assign limit = 16 -%}
  {% endif %}
  {% paginate collection.products by limit %}
    <div class="breadcrumbs">
      <ol
        itemscope
        itemtype="https://schema.org/BreadcrumbList"
        class="en">
        <li
          itemprop="itemListElement"
          itemscope
          itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/">
            <span itemprop="name">top</span>
          </a>
          <meta itemprop="position" content="1" />
        </li>

        <li
          itemprop="itemListElement"
          itemscope
          itemtype="http://schema.org/ListItem">
          <span itemprop="name">all items</span>
          <meta itemprop="position" content="3" />
        </li>
      </ol>
    </div>
    <div class="items01_wrap">
      <div class="section_title vertical">
        <span class="en">all items</span>
        <h2>すべての商品</h2>
      </div>
      <div class="items01_inner">
        <div class="category">
          <div class="category_h" id="js-category">
            <span class="en_h en">category</span>
            <h3>
              <span>カテゴリから探す</span>
            </h3>
          </div>
          <div class="category_box" id="js-category-box">
            <ul>
              {% for block in section.blocks %}
                <li>
                  <a href="{{ block.settings.category_url }}">{{ block.settings.category_title }}</a>
                </li>
              {% endfor %}
              {% comment %} {% for collection in collections %}
                <li>
                  <a href="{{ collection.url }}">{{ collection.title }}</a>
                </li>
              {% endfor %} {% endcomment %}
            </ul>
          </div>
          <div class="toolbar">
            <p class="toolbar_txt">
              全{{ paginate.items }}件中<br class="is_tab">
              {% assign page_count = paginate.page_size %}
              {% assign page_offset = paginate.current_offset | plus: 1 %}
              {% if paginate.previous and paginate.next %}
                {{ page_offset }}-{{ page_offset | plus: page_count }}
              {% elsif paginate.next %}
                1〜{{ page_count }}
              {% elsif paginate.previous %}
                {% if page_offset == paginate.items %}
                  〜{{ page_offset }}
                {% else %}
                  {{ page_offset }}〜{{ paginate.items }}
                {% endif %}
              {% else %}
                {{ paginate.items }}
              {% endif %}
              件を表示しています。
            </p>
            <div class="toolbar_item_wrap">
              <div class="toolbar_item01">
                <div class="inner">
                  <p>表示件数</p>
                  <div class="number">
                    {% comment %} <select name="" id="">
                      <option value="48件">48件</option>
                    </select> {% endcomment %}
                    <select name='paginateBy' id='paginateBy' class='collection-sort__input filters-toolbar__input'> 
                      {% for i in (16..16) %} {% assign v = i | append: '' %} 
                    <option value='{{ v }}'
                      {% if cart.attributes.pagination != blank and cart.attributes.pagination %}
                        {% if cart.attributes.pagination == v %} selected{% endif %}
                      {% else %}
                        {% if i == 40 %} selected{% endif %}
                      {% endif %}>{{ i }} 件 </option> 
                      {% endfor %}  
                      {% for i in (32..32) %} {% assign v = i | append: '' %} 
                    <option value='{{ v }}'
                      {% if cart.attributes.pagination != blank and cart.attributes.pagination %}
                        {% if cart.attributes.pagination == v %} selected{% endif %}
                      {% else %}
                        {% if i == 40 %} selected{% endif %}
                      {% endif %}>{{ i }} 件 </option> 
                      {% endfor %}  
                      {% for i in (48..48) %} {% assign v = i | append: '' %} 
                    <option value='{{ v }}'
                      {% if cart.attributes.pagination != blank and cart.attributes.pagination %}
                        {% if cart.attributes.pagination == v %} selected{% endif %}
                      {% else %}
                        {% if i == 40 %} selected{% endif %}
                      {% endif %}>{{ i }} 件 </option> 
                      {% endfor %}
                      {% for i in (64..64) %} {% assign v = i | append: '' %} 
                    <option value='{{ v }}'
                      {% if cart.attributes.pagination != blank and cart.attributes.pagination %}
                        {% if cart.attributes.pagination == v %} selected{% endif %}
                      {% else %}
                        {% if i == 40 %} selected{% endif %}
                      {% endif %}>{{ i }} 件 </option> 
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="inner">
                  <p>並び順</p>
                  <div class="select">
                    <form  id="FacetSortForm">
                    {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                    <select name="sort_by" id="SortBy" aria-describedby="a11y-refresh-page-message">
                      {%- for option in collection.sort_options -%}
                      <option value="{{ option.value }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name }}</option>
                      {%- endfor -%}
                    </select>
                    </form>
                  </div>
                </div>
              </div>
              <div class="toolbar_item02">
                <p>表示</p>
                <div class="inner">
                  <span class="icon" id="grid_btn">
                    <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_grid.svg" alt="">
                  </span>
                  <span class="icon" id="list_btn">
                    <img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_list.svg" alt="">
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="items_list_grid show" id="items_list_grid">
            <ul>
              {% for product in collection.products %}
                <li>
                  <a href="{{ product.url }}">
                    <figure>
                      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="">
                      {% comment %} {% if product.variants.first.inventory_management == "shopify" and product.variants.first.inventory_quantity > 0 %}
                      {%  else %}
                      <div class="stock-label"><p>Sold out</p></div>
                      {% endif %} {% endcomment %}
                    </figure>
                    <div class="txt">
                      <p class="items_title">{{ product.title }}</p>
                      <span class="price en">
                        {{ product.price | money }}</span>
                    </div>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="items_list_list" id="items_list_list">
            <ul>
              {% for product in collection.products %}
                <li>
                  <a href="{{ product.url | within: collection }}">
                    <figure>
                      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="">
                      {% comment %} {% if product.variants.first.inventory_management == "shopify" and product.variants.first.inventory_quantity > 0 %}
                      {%  else %}
                      <div class="stock-label"><p>Sold out</p></div>
                      {% endif %} {% endcomment %}
                    </figure>
                    <div class="txt">
                      <p class="items_title">{{ product.title }}</p>
                      <span class="price en">
                        {{ product.price | money }}</span>
                      <p class="info">{{ product.metafields.custom._list_text }}</p>
                    </div>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          {% if paginate.pages > 1 %}
            {% render "pagination", paginate: paginate %}
          {% endif %}
        </div>
      </div>
    </div>
    
  {% endpaginate %}
</section>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ すべての商品01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ すべての商品03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
{% comment %} <section class="items03 contact_area">
  <div class="contact_area_inner">
    <div class="section_title white horizontal">
      <span class="en">contact</span>
      <h2>コンタクト</h2>
    </div>
    <p>商品や修理、レンタルに関する<br class="is_sp">お問い合わせなど <br class="is_sp">お気軽にお問い合わせください。</p>
    <a href="/pages/contact"><img src="https://cdn.shopify.com/s/files/1/0697/0775/9932/files/icon_mail.svg" alt="">お問合せフォーム</a>
  </div>
</section> {% endcomment %}
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ すべての商品03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->


{% javascript %}
  /* Bind a change event to the dropdown */
  $('#paginateBy').on('change', function(){
  /* Get the current value. Some value validation could be added here (but we don't) */
  var val = $(this).val();
  /* Send the value as a cart attribute via the AJAX API */
  $.ajax({
  type: "POST",
  url: '/cart.js',
  data: {"attributes[pagination]": val}, /* We are using an attribute named "pagination" */
  success: function(d){
  window.location.reload();
  },
  dataType: 'json'
  });
  });

  
  let parameters = {};
  if (location.search.length) {
    let keyValue = "";
    let couples = location.search.substr(1).split('&');
    for (let i = 0; i < couples.length; i++) {
      keyValue = couples[i].split('=');
      if (keyValue.length > 1) {
        parameters[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }

  const selectElement = document.querySelector("#SortBy");
  selectElement.addEventListener("change", function(event) {
    parameters.sort_by = event.target.value;
    const url = Object.keys(parameters).map(function(key) {
      return encodeURIComponent(key) + '=' + encodeURIComponent(parameters[key])
    }).join('&');
    location.search = url;
  });
{% endjavascript %}



{% schema %}
  {
    "name": "collection-itemlist",
    "blocks": [
      {
        "name": "カテゴリー",
        "type": "block_category",
        "settings": [
          {
            "type": "collection",
            "id": "category_url",
            "label": "表示するカテゴリーを選択してください。"
          },
          {
            "type": "text",
            "id": "category_title",
            "label": "カテゴリ名を記入してください。"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "collection-itemlist"
      }
    ]
  }
{% endschema %}